@model EquipoDetalle

@{
    ViewData["Title"] = "Detalles";
    // Verificamos que el modelo no sea null
    if (Model == null)
    {
        <div class="alert alert-danger">El modelo de equipo no está disponible.</div>
        return;
    }

    string data = Context.User.FindFirst("Id")?.Value;  // Usamos el operador null-conditional (?.)
    int id = 0;  // Valor por defecto
    if (!string.IsNullOrEmpty(data))
    {
        if (!int.TryParse(data, out id))  // Si el valor no es un número válido, usa el valor por defecto
        {
            // Aquí puedes mostrar un mensaje de error o manejar el caso
            <div class="alert alert-danger">El ID del usuario no es válido.</div>
        }
    }
    else
    {
    // Si no se encuentra el claim "Id", puedes redirigir o mostrar un mensaje
        <div class="alert alert-warning">Usuario no autenticado.</div>
    }
}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">

        <h1 class="m-0">@Model.Detalles.Nombre</h1>
        <h3>Número de jugadores: @Model.NumJugadores</h3>
    </div>
</div>

<div class="container">

    @if (!Model.Jugadores.Any(j => j.Id == id))
    {
        <a class="btn btn-success" asp-controller="Equipos" asp-action="Join" asp-route-idequipo="@Model.Detalles.Id">Unirse</a>
    }
    else
    {
        <a class="btn btn-danger" asp-controller="Equipos" asp-action="Leave" asp-route-idequipo="@Model.Detalles.Id">Abandonar</a>
    }

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(User jugador in Model.Jugadores){
                <tr>
                    <td>
                        <img src="@jugador.Imagen" alt="Usuario" class="rounded-circle me-2" width="32" height="32" />
                    </td>
                    <td>@jugador.Nombre</td>
                    <td>@jugador.Email</td>
                    @if(Model.Detalles.IdAdmin == int.Parse(Context.User.FindFirst("Id").Value)){
                        <td><a class="btn btn-outline-danger">Expulsar</a></td>
                    }else{
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
