@model List<Equipo>
@{
    ViewData["Title"] = "Equipos";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="m-0">Mis Equipos</h1>
        <a asp-action="Insert" asp-controller="Equipos" class="btn btn-success">Crea tu equipo</a>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (Equipo equipo in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="~/img/escudos/@equipo.Emblema" alt="Escudo de @equipo.Nombre">
                        <div class="card-body">
                            <h5 class="card-title">@equipo.Nombre</h5>
                            <p class="card-text">@equipo.Deporte - @equipo.Color</p>
                            <a asp-controller="Equipos" asp-action="Detalles" asp-route-idequipo="@equipo.Id" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No tienes equipos registrados.</p>
}
